/* gruvbox */
window {
  margin: 0px;
  border: 2px solid #d5c4a1;
  background-color: #282828;
  border-radius: 15px;
  font-family: "JetBrainsMono Nerd Font";
  font-size; 14px;
}

#input {
  margin: 5px;
  border: none;
  color: #ebdbb2;
  background-color: #3c3836;
  border-radius: 5px;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #ebdbb2;
}

#entry:selected {
  background-color: #fabd2f;
  border-radius: 10px;
  border: none;
}

#text:selected {
  color: #282828;
}
